<div class="container">
  <h3 mat-dialog-title>Delete Record:</h3>
  <mat-dialog-content>
    <div class="container">
      <p> Id: {{ data.user.id }}  </p>
      <p> Name: {{ data.user.name }}  </p>
      <p> Email: {{ data.user.email }}  </p>
      <p> City: {{ data.user.city }}  </p>
      <p> Phone: {{ data.user.phone }}  </p>
    </div>
  </mat-dialog-content>
  
  <mat-dialog-actions>
    <button mat-raised-button color="warn" class="btn" [mat-dialog-close]="1" (click)="confirmDelete()">
      Delete
    </button>
    <button mat-button color="accent" [mat-dialog-close]="1" tabindex="-1" (click)="cancelDel()">Cancel</button>
  </mat-dialog-actions>
</div>
  
