<div class="container">
  <h3 mat-dialog-title>Add New Record:</h3>
  <mat-dialog-content>
    <form class="example-form" (ngSubmit)="submit" #formControl="ngForm">

      <!-- input id -->
      <mat-form-field color="accent" class="example-full-width input" appearance="fill">
        <mat-label>Id</mat-label>
        <input type="number" matInput [(ngModel)]="data.id" value="{{ data.id }}" name="name" id="name" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>

      <!-- input name -->
      <mat-form-field color="accent" class="example-full-width input" appearance="fill">
          <mat-label>Name</mat-label>
          <input type="text" matInput [(ngModel)]="data.name" value="{{ data.name }}" name="name" id="name" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      
      <!-- input email -->
      <mat-form-field color="accent" class="example-full-width input" appearance="fill">
          <mat-label>Email</mat-label>
          <input type="email" matInput placeholder="Ex. pat@example.com" [(ngModel)]="data.email" value="{{ data.email }}" name="email" id="email" required>
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      
      <!-- input city -->
      <mat-form-field color="accent" class="example-full-width input" appearance="fill">
        <mat-label>City</mat-label>
        <input type="text" matInput placeholder="Ex. San Francisco" [(ngModel)]="data.city" value="{{ data.city }}" name="city" id="city" required>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
  
      <!-- input phone -->
      <mat-form-field color="accent" class="example-full-width input" appearance="fill">
        <mat-label>Telephone</mat-label>
        <span matPrefix>+1 &nbsp;</span>
        <input type="number" matInput placeholder="555-555-1234" [(ngModel)]="data.phone" value="{{ data.phone }}" name="phone" id="phone" required>
        <mat-icon matSuffix>mode_edit</mat-icon>
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  
  <mat-dialog-actions>
    <button mat-raised-button color="accent" class="btn" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="confirmAdd()">
      Save
    </button>
    <button mat-button color="accent" class="btn" tabindex="-1" (click)="cancelAdd()">
      Cancel
    </button>
  </mat-dialog-actions>
</div>
